header.app-header {
    min-width: 350px;
    padding: 1em;
    color: $clr1bg;
    background-color: $clr1;

    .logo {
        font-family: libre, sans-serif;
        font-size: 6rem;
    }

    nav {
        margin-block-end: 1em;
    }
}