.toy-list {
    display: flex;
    justify-content: center;

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;

        @include for-narrow-layout {
            flex-direction: row;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            max-width: 260px;
            margin: 0.5em;
            border-radius: 4px;
            background-color: $clr1bg;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
    }
}