.toy-list {
    display: flex;
    justify-content: center;
}

.toy-list ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    margin: 0.5em;
}

.green {
    color: green;
}

.red {
    color: red;
}