.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include for-narrow-layout {
    @include layoutGTC($break-narrow);
  }

  @include for-normal-layout {
    @include layoutGTC($break-normal);
  }

  @include for-wide-layout {
    @include layoutGTC($break-wide);
  }
}